<h2>Mon personnage : </h2>

<!-- ne se charge que quand et si character est différent de undefined -->
<div *ngIf="character && !isLoading">
  <p>Nom : {{ character.name }}</p>
  <p>XP : {{ character.xp }} </p>
  <p>PV : {{ character.pv }} </p>
  <p *ngIf="character.bag">Possède un sac {{character.bag.color}}, de capacité : {{character.bag.capacity}}</p>
  <ul *ngIf="character.jobs && character.jobs.length > 0">
    <li *ngFor="let job of character.jobs">{{job.name}}, defense : {{job.defense}}</li>
  </ul>

  <p>
    <button (click)="delete()">Supprimer ce personnage</button>
  </p>
</div>

<div *ngIf="!character && !isLoading">
  <p>Pas de personnage trouvé</p>
</div>

<div *ngIf="isLoading">
  <p>chargement....</p>
</div>

