<fieldset>
  <legend>Connexion</legend>

  <form (ngSubmit)="connect()">
    <div>
      <label for="email">Identifiant</label>
      <input [(ngModel)]="user.email" name="email"
             id="email" type="email" required>
    </div>
    <div>
      <label for="password">Mot de passe</label>
      <input [(ngModel)]="user.password" name="password"
             id="password" type="password" required>
    </div>
    <div>
      <button type="submit">Connexion</button>
    </div>
  </form>
</fieldset>
