<div *ngIf="!isConnected, else connected">
  <ul>
    <li>
      <a [routerLink]="['/login']">Connexion</a>
    </li>
    <li>
      <a [routerLink]="['/register']">Inscription</a>
    </li>
  </ul>
</div>

<ng-template #connected>
  <div>
    <ul>
      <li>
        <a [routerLink]="['/characters']">Mes Personnages</a>
      </li>
      <li>
        <a [routerLink]="['/profile']">Mon Profil</a>
      </li>
      <li>
        <button (click)="disconnection()">Déconnexion</button>
      </li>
    </ul>
  </div>
</ng-template>
